*{
	margin: 0;
	padding: 0;
  }
  
  @font-face {
	font-family: RevxNeue;
	src: url(../fonts/RevxNeueBold.ttf);
	font-style: normal;
	font-weight: 100;
  }

  @font-face {
	font-family: RevxNeue;
	src: url(../fonts/RevxNeueRegular.ttf);
	font-style: normal;
	font-weight: 200;
  }

  
  .main ul li{
	font-family: RevxNeue;
	font-weight: 100;
	color: white;
	font-size: 70px;
	text-align: center;
  }
  
  header{
	background-image: url(../images/BG.png);
	height: 1560px;
	background-size: cover;
	background-position: center;
  }
  
  .main{
	  text-align: center;
  }
  
  .main ul{
	text-align: center;
  }
  
  .main ul li {
	  text-align: center;
	  display: inline-block;
	  padding-right: 50px;
	  padding-left: 60px;
	  padding-top: 20px;
  }
  
  .main ul li a {
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
  }
  
  .main ul li a:hover {
	color: gray;
  }

  .logo main{
	  display: inline-block;
  }
  
  .logo {
	padding-top: 0px;
	text-align: center;
	
  }
  
  
  .footer{
	margin: 0;
	padding: 0;
	padding-top: 50px;
	list-style: none;
	text-align: center;
  }
  
  .footer a{
	padding-right: 15px;
	padding-left: 15px;
  }
  
.wrapper-gallery{
	margin: 0 10vw;
}

.wrapper-main {
	margin: 0 20vw;
}

@media only screen and (max-width:700px){

	header{
		width: 100%;
		margin: 0 auto;
		background-image: url(../images/BG-Mobile.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	  }

	  .logo {
		padding-top: 0px;
		text-align: center;
	  }
	
	  .main{
		text-align: center;
	  }
	  
	  .main ul{
	  text-align: center;
	  }
	  
	  .main ul li {
		text-align: center;
		display: inline-block;
		padding-right: 20px;
		padding-left: 30px;
		padding-top: 20px;
	  }
	  
	  .main ul li a {
	  color: white;
	  font-size: 20px;
	  text-transform: uppercase;
	  text-decoration: none;
	  display: block;
	  }
	  
	  .main ul li a:hover {
	  color: gray;
	  }
}