*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: RevxNeue;
  src: url(fonts/RevxNeueBold.ttf);
  font-style: normal;
  font-weight: 100;
}

.main ul li{
  font-family: RevxNeue;
  font-weight: 100;
  color: white;
  font-size: 70px;
  text-align: center;
}

@font-face {
  font-family: SouthEpic;
  src: url(fonts/SouthEpic-Script.otf);
  font-style: normal;
  font-weight: 100;
}

p{
  font-family: SouthEpic;
  font-weight: 100;
  color: white;
  font-size: 70px;
  text-align: center;
}

.Interests p{
	font-family: RevxNeue;
	font-weight: 200;
	color: white;
	font-size: 15px;
  }

@font-face {
  font-family: SouthEpic;
  src: url(fonts/SouthEpic-Stencil.otf);
  font-style: normal;
  font-weight: 200;
}

h1{
  font-family: SouthEpic;
  font-weight: 200;
  color: white;
  font-size: 160px;
  text-align: center;
  padding-top: 250px;
}

@font-face {
  font-family: SouthEpic;
  src: url(fonts/SouthEpic-Decorative.otf);
  font-style: normal;
  font-weight: 300;
}

h2{
  font-family: SouthEpic;
  font-weight: 300;
  color: white;
  font-size: 40px;
  text-align: center;
  margin: 30px;
}

h3{
  font-family: SouthEpic;
  font-weight: 300;
  color: white;
  font-size: 40px;
  text-align: center;
  margin: 30px;
}

header{
  background-image: url(images/Image.png);
  height: 1560px;
  background-size: cover;
  background-position: center;
}

.main{
  text-align: center;
}

.main ul{
text-align: center;
}

.main ul li {
  text-align: center;
  display: inline-block;
  padding-right: 50px;
  padding-left: 60px;
  padding-top: 20px;
}

.main ul li a {
color: white;
font-size: 20px;
text-transform: uppercase;
text-decoration: none;
display: block;
}

.main ul li a:hover {
color: gray;
}

.logo main{
  display: inline-block;
}

.logo {
padding-top: 0px;
text-align: center;

}

.name{
  position: absolute;
  left: 50%;
  top: 500px;
  content: none;
  margin-left: -500px;
  margin-right: 500px;
}

.footer{
  margin: 0;
  padding: 0;
  padding-top: 70px;
  list-style: none;
  text-align: center;
}

.footer a{
  padding-right: 30px;
}

.YoutubeVideo {
  position: relative;
  text-align: center;
  padding-top: 0px;
  size: 40%;
}

.container{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  size: 50%;
}

.text-center {
  text-align: center;
}

.Interests .Like{
	padding: 10px;
	display: inline-table;
}

.Interests {
	padding-top: 0px;
	text-align: center;
  }
  
  .Interests img {
	margin-right: 0px;
  }
  
  @media (max-width: 300px) {
	.Interests {
		padding: 5px;
	}
  
	.Interests img {
	  margin: auto;
	}
  }
